[Unit]
Description=Gunicorn server for staging.testingsuperlist.online

[Service]
Restart=on-failure
User=akane
WorkingDirectory=/home/akane/sites/staging.testingsuperlist.online
EnvironmentFile=/home/akane/sites/staging.testingsuperlist.online/.env

ExecStart=/home/akane/sites/staging.testingsuperlist.online/virtualenv/bin/gunicorn \
    --bind unix:/tmp/staging.testingsuperlist.online.socket \
    superlists.wsgi:application

[Install]
WantedBy=multi-user.target